*.pyc
.idea
.coverage
coverage.txt
log/*.log
urls.txt
index.txt
indexes.txt
domains.txt
GeoIPASNum.dat
GeoIP.dat
GeoLiteCity.dat
top-1m_*.zip
top-1m.csv.zip
top-1m.csv
alexa_blocked.txt
alexa_new.txt
alexa_processed.txt
alexa_skipped.txt
screenshots/*.png
