*.pyc
.idea
.coverage
coverage.txt
log/*.log
urls.txt
index.txt
indexes.txt
domains.txt
GeoIPASNum.dat
GeoIP.dat
GeoLiteCity.dat
top-1m_*.zip
quantcast-top-sites_*.csv.zip
top10milliondomains_*.csv.zip
top-1m.csv.zip
top-1m.csv
alexa_*.txt
screenshots/*.png
favicons/*.bmp
favicons/*.ico
favicons/*.png
favicons/*.jpg
*.out
*.err
majestic*.csv
*.o
quantcast-top-sites.zip
top10milliondomains.csv
top10milliondomains.csv.zip
Quantcast-Top-Million.txt
majestic_*.txt
quantcast_*.txt
domcop_*.txt
urls/commoncrawl/*.txt
domain_update
ensure_domaininfo
env/
urls/icann/out/*.txt
*.txt_
log/*.txt
zonefiles_*
