# Requires memached to be installed.
python-memcached==1.59
Django==1.11.29
Fabric==1.10.2
# If this fails, run sudo apt-get install python-dev libpq-dev
beautifulsoup4==4.7.1
coverage==4.5.2
flup==1.0.3
nltk==3.4.5
ipaddr==2.2.0
python-whois==0.7.3
# Requires python-dev
numpy==1.15.4
csscompressor==0.9.5
python-dateutil==2.7.5
robotexclusionrulesparser==1.7.1
protobuf==3.14.0
protobuf.socketrpc==1.3.2
django-tagging==0.5.0
# We're no longer using a local version of langid (local folder can be deleted)
langid==1.1.6
wget==3.2
pytz==2018.7
djangorestframework==3.9.4
# Requires libgeoip-dev and python-dev.
GeoIP==1.3.2
future==0.15.2
PyYAML==5.1
six==1.15.0
uwsgitop==0.10
redis==3.5.3
django-q==1.0.2
hiredis==0.2.0
# Requires python-dev
ujson==1.35
Unidecode==0.04.19
# Installer does not work with python3
# django-memcachedkeys==0.1.0
simhash==2.0.0
Jinja2==2.10.1
backports.functools-lru-cache==1.6.1
favicon==0.5.1
psycopg2-binary==2.8.6
Pillow==8.1.0
selenium==3.141.0
requests==2.25.1
zone-file==0.1.5
tlds==2019051700
tox==3.21.0
elasticsearch==7.10.1
gunicorn==20.0.4
