{% load i18n %}
<!DOCTYPE html>
<html lang="en"><head>
<meta name="keywords" content="wbsrch, web, directory, independent, {% trans "search" %}, engine, {% trans 'articles' %}, blog, posts" lang="en-us">
<meta name="description" content="{% if description %}{{ description }}{% else %}{% trans 'Articles' %} by WbSrch Web {% trans "Search" %}, the Independent {% trans "Search" %} Engine.{% endif %}" lang="en-us">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="/favicon.png" />
<title>{% if title %}{{ title }}{% else %}{% trans 'Articles' %}{% endif %} | WbSrch Web {% trans "Search" %}</title>
{% include 'style.inc' %}
{% include 'analytics.inc' %}
</head>
<body>
<div class="head"><h1><a href="/"><img class="logo" src="/images/WbSrchLogo.png" alt="WbSrch Web {% trans "Search" %}" /></a>&nbsp;{% trans 'Articles' %}</h1></div>
<div class="body blog">

<p class="subhead">Articles and thoughts about search engines and the web.</p>

<div class="content">

{% if category %}<h3>Showing articles in category "{{ category }}".</h3><p><a href="/articles/">Back to all articles</a></p>{% endif %}

{% for post in posts %}
<div class="post">
<h2>{% if listview %}<a href="/article/{{ post.url }}/">{{ post.title }}</a>{% else %}{{ post.title }}{% endif %}</h2>
<p class="smallertext bottomborder">by {{ post.author }} on {{ post.published|date:"Y-m-d" }}, tagged {% for tag in post.get_tags %}<a href="/article-category/{{ tag }}/">{{ tag }}</a> {% endfor %}</p>
{% if listview %}<p>{% if post.slug %}{{ post.slug }} ... {% else %}{{ post.content|truncatewords:"75" }}{% endif %} <a href="/article/{{ post.url }}/">read more</a></p>{% else %}{{ post.content|safe }}{% endif %}
</div>
{% endfor %}
{% if listview %}<p><a href="/search/">{% trans "Back to search form" %}.</a></p>{% else %}<p><a href="/articles/">Back to articles.</a></p>{% endif %}

</div>

<div class="rightside">

<h3>Recent Posts</h3>
{% for post in recent %}
<h4><a href="/article/{{ post.url }}/">{{ post.title }}</a></h4>
{% endfor %}

<h3>Categories</h3>
{% for cat in tags %}
<h4><a href="/article-category/{{ cat }}/">{{ cat }}</a></h4>
{% endfor %}
</div>
</div>

{% include 'footer.inc' parsed %}
</body>
</html>
