{% load i18n %}<!DOCTYPE html>
<html lang="en"><head>
<meta name="keywords" content="browser, web browser, web, wbbrowse, webkit, windows" lang="en">
<meta name="description" content="WbBrowse, the web browser for the WbSrch Search Engine." lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="canonical" href="https://wbsrch.com/browser/" />
<title>WbBrowse - A Web Browser</title>
{% include 'style.inc' %}
{% include 'analytics.inc' %}
</head>
<body>
<div class="head">
<h1><img class="logo" src="/images/WbSrchLogo.png" alt="WbBrowse"> WbBrowse</h1>
<h2>A Web Browser</h2>
<p>WbBrowse is currently in open beta and available for Windows, OSX and .deb-based Linux.</p>
<p><a href="/software/WbBrowse2.0Setup.exe">Download version 2.0 for Windows 32-bit* (installer) [39MB]</a></p>
<p><a href="/software/wbbrowse_1.0-1.deb">Download version 1.0 for Linux 64-bit (.deb package) [<1MB]</a></p>
<p><a href="/software/WbBrowse_1.0_Mac.zip">Download version 1.0 for OSX 64-bit (.zip file) [<1MB]</a></p>
* - works on 64-bit.
<p class="smallertext">Our installers do not contain any adware, spyware, or any of that other add-on junk that tries to trick you into installing it in addition to the program you're trying to install.</p>
<p>If you have any problems or have a suggestion for improvement, email jchampion [at] zetacentauri . com.</p>
<p><a href="/images/Wikipedia_on_WbBrowse.png"><img src="/images/Wikipedia_on_WbBrowse.png" alt="Wikipedia as viewed in the WbBrowse web browser." class="mainimage"></a></p>
<p>Screenshot of WbBrowse on Ubuntu Linux</p>
<p>WbBrowse is built using the <a href="http://www.qt.io/">Qt libraries</a> and is based on the Tab Browser project.</p>
</div>
<p class="centered">WbBrowse is a product of the <a href="/">WbSrch search engine</a>.</p>
{% include 'copyright.inc' %}
<p class="copyright"><a href="/privacy/">Privacy Policy</a></p>
</body>
</html>
