{% load i18n %}
<!DOCTYPE html>
<html><head>
<meta name="keywords" content="wbsrch, web, directory, {% trans "search" %}, engine, independent, ranking, criteria, rank" lang="en-us">
<meta name="description" content="Ranking Criteria for WbSrch Web {% trans "Search" %}, the Independent {% trans "Search" %} Engine." lang="en-us">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="/favicon.png" />
<title>Ranking Criteria | WbSrch Web {% trans "Search" %}</title>
{% ssi '/var/django/wbsrch/templates/style.inc' %}
{% ssi '/var/django/wbsrch/templates/analytics.inc' %}
</head>
<body>
<div class="head"><h1><a href="/"><img class="logo" src="/images/WbSrchLogo.png" alt="WbSrch Web {% trans "Search" %}" /></a>&nbsp;WbSrch Web {% trans "Search" %} Ranking Criteria</h1></div>
<div class="body">
<p>We're not using any fancy or esoteric techniques for ranking sites. All of the criteria we use could be considered obvious indicators.</p>

<p>All of these criteria are subject to change or adjustment at any time, and this is not an exhaustive list. There are also ranking factors that we do not disclose. We make no promises or guarantees.</p>

<p><strong>The Domain</strong></p>

<p>Your domain name is important. If it's an exact match for what someone searched for, it's very likely you'll appear at or near the top of search results.</p>

<p>Having a particular keyword in your domain name makes you rank better for that word.</p>

<p>If your domain is one that generates form or email spam, expect to rank lower, or be removed from the index entirely. We have a few honeypot sites that detect these kinds of things and penalize a site for misbehavior. It's very difficult to have this penalty removed, so behave and don't let a security breach make your system part of a spam botnet.</p>

<p>Certain domain extensions are treated as "less credible", such as .biz or .info. Get the .com or ccTLD version of our site name if you can. Hyphens are also better left out of the domain name.</p>

<p><strong>The URL</strong></p>

<p>Having a particular keyword in a URL will cause you to rank better for that keyword. You have to balance that with the length of the URL because we subtract points for excessively long URLs. We like it when a URL is something that a Human can be reasonably expected to type without complaining.</p>

<p><strong>Meta Tags</strong></p>

<p>We place a little value on having keyword and description META tags. Having them is always better than not having them, but they won't affect your rank much.</p>

<p><strong>Page Title</strong></p>

<p>It's important. Be accurate/relevant and don't make it ridiculously long.</p>

<p><strong>Page Head Tag(s)</strong></p>

<p>We take these into account. The first one is most important.</p>

<p><strong>Page Contents</strong></p>

<p>These matter. If the keyword or phrase someone is searching for appears once, it's good. If it's there a few times, that's better. If it shows up excessively that's bad.</p>

<p><strong>Page Language</strong></p>

<p>We include over two dozen languages in the WbSrch database. Each language is a separate site. In order for languages to be properly categorized, you should use correct language tags on your site.</p>

<p>Not tagging the language of your site could cause your site to be categorized incorrectly and not be seen by people who understand its language. Good use of language tags will cause your site to be categorized correctly more quickly.</p>

<p>We admit it, handling multilanguage sites is hard. They're hard to build, and they're hard to organize. Here are some things that might be helpful to know, and they may also apply to other search engines.</p>

<p>These things make a site easy to categorize:<p>

<ul>
<li>The HTML5 "html lang" tag.</li>
<li>Country code domains that match the language of the site, such as mysite.de being a German-language site.</li>
<li>Meta content-type lang tag.</li>
<li>Language-specific domain prefix, such as fr.mysite.com for a French-language site.</li>
</ul>

<p>These things make it more difficult to categorize a site:</p>

<ul>
<li>No language tags at all.</li>
<li>Language tags that don't match the site's language. Keep in mind some web frameworks default to "en-us", so will show the incorrect language if you don't set it.</li>
<li>The language of the site encoded in the URL, such as http://mysite.com/en-us/page.htm or http://mysite.com/?lang=es</li>
<li>Multiple language tags for a page that is in a single language, such as "de, en, fr".</li>
<li>Domain hacks - using a a ccTLD to spell something clever but not having that page in the language(s) common to that country's domain extension, i.e. using a domain like eggsandh.am.</li>
</ul>

<p>In addition, if some of your pages are in one of the languages we don't index, but the site itself is multi-language, it's possible the whole site could be excluded from the search index as an "unindexed language" site if it's not set up in an easy-to-categorize manner. If you have a zh.mysite.com and a pt.mysite.com, it'll be easy for us to categorize and keep the languages that we index without excluding the whole site.</p>

<p><strong>Incoming and Outgoing Links</strong></p>

<p>We are using a proprietary link popularity algorithm called <a href="/wbrank/">WbRank</a>.</p>

<p>Outgoing links currently have no bearing on the ranking of your site and are only used for the discovery of other sites and pages.</p>

<p>In the future we may decide to use linking to sites tagged as "spam" as a negative factor. If we do so, we will not take things like "NOFOLLOW" links into account. Linking is linking.</a>

<p><strong>Page Size</strong></p>

<p>We only index the first 30-40 kilobytes of a page. If something hasn't been mentioned in the first few thousand words, it's not likely that it would be the most important part of a page. Large pages with excessive inline JavaScript will have less of their content indexed. JavaScript should generally be stored in separate files.</p>

<p><strong>JavaScript</strong></p>

<p>We do not read or execute any JavaScript on a page. If your site requires JavaScript to display its content, or blocks visitors with JavaScript turned off, it will not index well. It will show up as something like "JavaScript must be enabled to view this site" in search listings, which isn't exactly great for SEO.</p>

<p>It's a best practice to store your JavaScript code in external files. This is also relevant because if your page is stuffed with thousands of lines of code, we might not even reach the actual page content by the time we've read the 30-40 kilobytes that we consider significant for indexing.</p>

<p><strong>Cascading Style Sheets (CSS)</strong></p>

<p>We do not read the CSS for a page.</p>

<p>It's a best practice to store your CSS code in external files. This is also relevant because if your page is stuffed with thousands of lines of styles, we might not even reach the actual page content by the time we've read the 30-40 kilobytes that we consider significant for indexing.</p>

<p><strong>Cookies</strong></p>

<p>Our crawler does not accept cookies. If you require cookies to load the content for your site, it will not index well. Your site will likely show up as something like "Cookies must be enabled to view this site" in search listings, which isn't exactly great for SEO.</p>

<p><strong>Images, Audio, and Video</strong></p>

<p>We do not read the images, sounds, or movies on a page, nor do we index images and rich media. That saves bandwidth on both sides, but if your content is purely images without any explanatory text, your site will not rank well.</p>

<p><strong>Frames</strong></p>

<p>Our crawler does not support frames, nor to we have any intention of ever having it support frames. This means that if you're still using frames for your site (you shouldn't be), your site will likely show up as something like "Your browser does not support frames" search listings. Not exactly great for SEO.</p>

<p><strong>Flash</strong></p>

<p>Our crawler does not support or recognize Flash content.</p>

<p><strong>SSL</strong></p>

<p>We give a tiny boost to secure URLs (https://).</p>

<p><a href="/search/">Back to search form.</a></p>
</div>
{% ssi '/var/django/wbsrch/templates/footer.inc' parsed %}
</body>
</html>
