{% load i18n %}
<!DOCTYPE html>
<html><head>
<meta name="keywords" content="wbsrch, web, directory, {% trans "search" %}, engine, independent, faq, frequently, asked, questions" lang="en-us">
<meta name="description" content="WbSrch Web {% trans "Search" %}, home of the Independent {% trans "Search" %} Engine." lang="en-us">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="/favicon.png" />
<title>DMCA And Copyright Information</title>
{% ssi '/var/django/wbsrch/templates/style.inc' %}
{% ssi '/var/django/wbsrch/templates/analytics.inc' %}
</head>
<body>
<div class="head"><h1><a href="/"><img class="logo" src="/images/WbSrchLogo.png" alt="WbSrch Web {% trans "Search" %}" /></a>&nbsp;WbSrch Web {% trans "Search" %} DMCA Information</h1></div>
<div class="body">
<h3>DMCA and Copyright Policy</h3>

<p>Per our <a href="/policy/">Inclusion Policy</a>, we have no interest in indexing sites whose sole purpose is to facilitate copyright infringement. We care about intellectual property, and even though copyright law in the United States is incredibly broken, we believe content creators should be able to exercise control over and profit from the works that they have created. To that end, we will comply with DMCA takedown requests in most cases.</p>

<p>Since our crawler is automated, sites are added to our index without being reviewed by a Human, and content that we do not approve of can and does make it into the index. We accept no responsibility for content on other websites that you may find or access when using our products or services.</p>

<p>It is our policy to <a href="/dmca-notices/">publish a copy of every legal notice that we receive</a>. We may also send a copy to the Chilling Effects Project (<a href="http://www.chillingeffects.org">http://www.chillingeffects.org</a>) or The Electronic Frontier Foundation (<a href="http://eff.org">http://eff.org</a>) for publication, if applicable. We may also send a copy of the notice to the supposed infringer or, if we question the validity of your complaint, to the rightsholder.</p>

<p><strong>Notice for Claims of Intellectual Property Violations and Agent for Notice</strong></p>

<p>This is for copyright and intellectual property matters only. Correspondence about other matters will be discarded.</p>

<p>If you believe that your work has been copied in a way that constitutes copyright infringement, or that your intellectual property rights have been otherwise violated, please provide the Agent for Notice with the following information in English in your notice:

<ul>
<li>A description of the copyrighted work or intellectual property that you claim has been infringed</li>
<li>A description of where the material that you claim is infringing is located on our site, with enough detail that we may find it on the website (give us a URL).</li>
<li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest.</li>
<li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright or intellectual property owner or its agent.</li>
<li>A statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the owner's behalf.</li>
<li>Your mailing address, email address, and telephone number.</li>
</ul>

<p>Our Agent for Notice of claims of copyright or other intellectual property infringement can be reached as follows:</p>

<p><strong>By mail:</strong><br />
Copyright Agent<br />
c/o WbSrch.com<br />
6114 NE Wasco St.<br />
Portland, OR 97213</p>

<p><strong>By Email:</strong><br />
jchampion @ zetacentauri . com</p>

<p>Please note that we will generally comply with reasonable requests, but at our discretion we may choose not to remove links from our index. Search engines are not liable for copyright infringement if they choose not to use the DMCA safe harbor. Computer-generated pages of links do not materially facilitate infringing activity or put their hosts on notice of copyright infringements.</p>

<p>We are not hosting any of the content we link to. To have any measurable effect against copyright infringers, you will need to address the issue with the offending sites.</p>

<p>It is also not a valid use of the DMCA to try to prevent sites from linking to your website. You cannot use it to have your site excluded from the index. If you try to do so, we will make fun of you in public.</p>

<p><a href="/search/">Back to search form.</a></p>
</div>
{% ssi '/var/django/wbsrch/templates/footer.inc' parsed %}
</body>
</html>
