{% load i18n %}<!DOCTYPE html>
<html lang="{{ language_code }}"><head><!-- Cached Query: {{ cached }} -->
<meta name="description" content="WbSrch Web {% trans "Search" %}, home of the Independent {% trans "Search" %} Engine.">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% if excluded %}<meta name="robots" content="noindex">{% endif %}
<link rel="icon" type="image/png" href="/favicon.png" />
<title>{% if rawdomain %}{{ rawdomain }} | {% endif %} {% trans "Domain" %} Details | WbSrch Web {% trans "Search" %} ({{ language_code|language_name_local }})</title>
{% if domain %}<link rel="canonical" href="https://wbsrch.com/domain/?q={{ rawdomain }}" />{% endif %}
{% ssi '/var/django/wbsrch/templates/style.inc' %}
{% ssi '/var/django/wbsrch/templates/analytics.inc' %}
</head>
<body>
<div class="head">
<h1><a href="/"><img class="logo" src="/images/WbSrchLogo.png" alt="WbSrch Web {% trans "Search" %}" /></a>&nbsp;WbSrch {% trans "Domain" %} {% trans "Info" %} {% trans "Search" %}</h1>
</div>
<div class="body">
<p>{% trans "Check a Domain" %}:</p>
<form method="get" action="/domain/">
<input id="domainbox" type="text" name="q" maxlength="250" {% if domain %}value="{{ domain }}"{% endif %} />
<input type="submit" value="{% trans "Check Domain" %}">
</form>
<br />

{% if domain %}
<h2 class="left indented2 spacebelow">WbSrch {% trans "Domain" %} {% trans "Info" %} {% trans "for" %} {% trans "Domain" %} '{{ rawdomain }}':</h2>
{% else %}
{% endif %}

{% if domains %}
{% for domain in domains %}
{% if superuser %}<p><a href="/adm/dir/domaininfo/{{ domain.id }}/">View this domain in the admin.</a><br/>
<p><form method="post" action="/adminpanel/movesite/">Move this domain to language</a> 
<input type="hidden" name="domain" value="{{ domain.url }}">
<input id="langbox" class="shortbox" type="text" name="lang" maxlength="3" />
<input type="submit" value="{% trans "Move" %}">
{% csrf_token %}</form>
<br/>
<a href="/adminpanel/?crawlurl={{ domain.url }}&randomfromdomain=1">Crawl a random URL from this domain.</a></p>{% endif %}
<p>{% trans "Domain" %}: {% if link %}<a href="http://{{ domain.url }}" rel="nofollow">{{ domain.url }}</a>{% else %}{{ domain.url }}</p>{% endif %}
{% if domain.language_association %}<p>{% trans "Language" %}: {{ domain.language_association }} ({{ domain.language_association|language_name_local }})</p>{% endif %}
{% if domain.language_association and domain.language_association != language_code %}<p><a href="https://{{ domain.language_association }}.wbsrch.com/domain/?q={{ domain.url }}">Check this domain on the {{ domain.language_association|language_name }} site.</a></p>{% endif %}
{% if domain.domain_created %}<p>{% trans "Created" %}: {{ domain.domain_created|date:"Y-m-d" }}</p>{% endif %}
{% if domain.notes %}<p>Notes: {{ domain.notes }}</p>{% endif %}
{% if domain.rank_adjustment %}<p>This domain is set to rank {{ domain.get_rank_adjustment_display }} in search results.</p>
{% if domain.rank_reason %}<p>Reason for adjustment: {{ domain.get_rank_reason_display }}</p>{% endif %}{% endif %}
{% if domain.robots_ip %}<p>IP Address: <a href="/ip/?q={{ domain.robots_ip }}">{{ domain.robots_ip }}</a> <em class="smallertext">(A domain may have more than one IP address. This was the IP we found when retrieving robots.txt)</em></p>{%endif %}
{% if domain.domains_linking_in < 2 %}<p>This domain does not have many inbound links from other domains.</p>
{% elif domain.domains_linking_in < 5 %}<p>This domain has a few inbound links from other domains.</p>
{% elif domain.domains_linking_in < 10 %}<p>This domain has a moderate number of inbound links from other domains.</p>
{% elif domain.domains_linking_in > 9 %}<p>This domain has a lot of inbound links from other domains.</p>{% endif %}
{% if extra %}<p>We also have data available for <a href="/domain/?q={{ extra.url }}">{{ extra.url }}</a>.</p>{% endif %}
{% if parent %}<p>We also have data available for <a href="/domain/?q={{ parent.url }}">{{ parent.url }}</a>.</p>{% endif %}
<p><a href="http://wbstats.com">For more statistics, valuation, and SEO data, visit WbStats.</a></p>
<p>{% trans "We have" %} {{ num_records }} URL{{ num_records|pluralize }} {% trans "in the" %} {{ language_code|language_name_local }} {% trans "database for that domain" %}.</p>
{% endfor %}
{% else %}
{% if domain %}
<p>{% trans 'No exact match for that domain name found' %}.</p>
{% if notdomain %}
<p>{% trans 'Do you want to' %} <a href="/search/?q={{ domain|urlencode }}">{% trans 'search for' %} {{ domain }} {% trans 'instead' %}</a>?</p>
{% endif %}
{% else %}
<p>{% trans 'Enter a domain name to check' %}.</p>
{% endif %}
{% endif %}

{% if rankings %}
<h3 class="indented">{% trans 'Top Keyword Rankings' %} {% trans 'for' %} {% trans 'this' %} {% trans 'Domain' %}</h3>
<table class="indented">
{% for rank in rankings %}
{% cycle '<tr><td>' '' %}
<p>{% trans 'Ranks' %} {{ rank.rank }} {% trans 'for' %} <a href="/search/?q={{ rank.keywords|urlencode }}">{{ rank.keywords }}</a></p>
{% cycle '</td><td>' '</td></tr>' %}
{% endfor %}
</table>
{% endif %}

{% if excluded %}
<h3 class="indented">{% trans 'Related' %} {% trans "domain" %} exclusions:</h3>
{% for exclude in excluded %}
<p>{% trans "This domain is excluded from our index" %}: {{ exclude.url }}  (<em>Reason: {{ exclude.get_reason_display }}</em>) {% if exclude.detailed_reason %}Detail: {{ exclude.detailed_reason }}<br />{% endif %}
</p>
{% endfor %}
{% endif %}

{% if domains %}
<h3 class="indented">URLs {% trans 'for' %} {% trans 'this' %} {% trans 'Domain' %}</h3>
<p>{% trans "Here is what is in our index" %} (max. 200 URLs shown):</p>
{% if siteinfos %}
{% for result in siteinfos %}
<h3 class="indented"><a href="{{ result.url }}" rel="nofollow">{{ result.pagetitle|truncatewords:15 }}</a></h3>
<p class="site indented">{% if result.pagedescription %}{{ result.pagedescription|truncatewords:45 }}
{% else %}<em>No page description.</em>{% if result.pagetext %}<br />{{ result.pagetext|truncatewords:45 }}{% endif %}{% endif %}<br />
<em><a href="{{ result.url }}" rel="nofollow">{{ result.url }}</a></em><br />
{% if superuser %}<span class="smallertext"><a href="https://wbsrch.com/adminpanel/?crawlurl={{ result.url }}">[recrawl]</a>
<a href="https://wbsrch.com/adminpanel/blocksite/?reason=8&site={{ result.url }}">[block]</a>
<a href="https://wbsrch.com/adm/dir/siteinfo/?q={{ result.rooturl }}">[view domain pages in admin]</a>
<a href="https://wbsrch.com/adm/dir/siteinfo/{{ result.id }}/">[view this page in admin]</a></span> <br/>{% endif %}
</p>
{% endfor %}
{% else %}
<p><em>{% trans "No URLs in the index for" %} {{ domain }}</em></p>
{% endif %}
{% ssi '/var/django/wbsrch/templates/adsense.inc' %}
{% endif %}

<p><a href="/search/">{% trans 'Go to web search form' %}.</a></p>
</div>
<div class="footer">
{% ssi '/var/django/wbsrch/templates/footerwithoutcopyright.inc' parsed %}
{% ssi '/var/django/wbsrch/templates/copyright.inc' %}
</div>
</body>
</html>

