{% load i18n %}
<!DOCTYPE html>
<html lang="{{ language_code }}"><head>
<meta name="keywords" content="wbsrch, web, {% trans "search" %}, {% trans "independent" %}, {% trans "index" %}, {% trans "statistics" %}, urls, counts, {% trans "directory" %}, {% trans "search engine" %}">
<meta name="description" content="WbSrch {% trans "Web Search" %}, home of {% trans "The Independent Search Engine" %}.">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="/favicon.png" />
<title>{% trans "Index" %} {% trans "Statistics" %} | WbSrch {% trans "Web Search" %}</title>
{% include 'style.inc' %}
{% include 'analytics.inc' %}
<script src="/sorttable.js"></script>
</head>
<body>
<div class="head"><h1><a href="/"><img class="logo" src="/images/WbSrchLogo.png" alt="WbSrch {% trans "Web Search" %}" /></a>&nbsp;WbSrch {% trans "Web Search" %} {% trans "Index" %} {% trans "Statistics" %}</h1></div>

<div class="centerad" style="width: 782px; text-align: center; margin-left: auto; margin-right: auto;">
{% include 'adsense.inc' %}
</div>
<table class="centered sortable">
<tr><th>{% trans "Language" %}</th><th>{% trans "# of" %} {% trans "URLs" %} {% trans "Crawled" %}</th><th>{% trans "# of" %} {% trans "Terms" %} {% trans "Indexed" %}</th><th>{% trans "Pending" %} {% trans "Indexes" %}</th></tr>
{% for language in stats.langs %}
{% if not language.hidden %}
<tr><td><a href="https://{% if language.prefix != 'en' %}{{ language.prefix }}.{% endif %}wbsrch.com">{% trans language.lang %}</a></td><td id="{{ language.lang }}pages">{{ language.count }}</td><td>{{ language.indexes }}</td><td>{{ language.pending_indexes }}</td></tr>
{% endif %}
{% endfor %}
<tr><td>{% trans "Total" %}</td><td>{{ stats.total_urls }}</td><td>{{ stats.total_indexes }}</td><td>{{ stats.total_pendingindexes }}</td></tr>
</table>
<p class="centered">{% trans "Excluded" %} {% trans "Domains" %}: {{ stats.num_excluded }}</p>
<p class="centered"><br/>For top-level domain stats, please see the <a href="/tld-stats/">TLD stats page</a></p>
<br /><p class="centered"><a href="/search/">{% trans "Back to search form" %}.</a></p><br />
{% include 'footer.inc' %}
</body>
</html>
