{% load i18n %}<!DOCTYPE html>
<html lang="{{ language_code }}"><head><!-- Cached Query: {{ cached }} -->
<meta name="keywords" content="{% trans "search engine" %}, wbsrch, {% trans "independent" %}, web, {% trans "directory" %}, {% trans "search" %}, {% trans "engine" %}, {% trans "domain" %}" lang="{{ language_code }}">
<meta name="description" content="WbSrch Web {% trans "Search" %}, {% trans "home" %} of {% trans "The Independent Search Engine" %}." lang="{{ language_code }}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="msvalidate.01" content="46D044C2A2181D7D0BFD6FF19630FDEC" />
<meta name="google-site-verification" content="w_FL4pcP2gbbcsZ5UqBWhMbPFX-HhEtNuyCgqqkJqc4" />
<meta name="wot-verification" content="02fc60ed7fb094538bca"/>
<meta name="norton-safeweb-site-verification" content="qs6kkvxl-fe688z8-y12nnr8pazj956cwfyhzij11hh9humfjm3f2l6jibz4en4cop34sbp-b972ek7ex7ugu7er5-isdk-oqgwmxu0mt4mmjtnvvlf0s522dsbuuzrz" />
<meta property="og:image" content="https://wbsrch.com/images/WbSrchLogo.png">
<meta property="og:locale" content="{{ language_code }}" />
<meta name=”twitter:creator” content=”@xangis“>
{% if language_code == 'en' %}<link rel="search" href="https://wbsrch.com/opensearchdescription.xml" type="application/opensearchdescription+xml" title="WbSrch" />{% endif %}
<link rel="icon" type="image/png" href="/favicon.png" />
<link href="https://twitter.com/xangis" rel="me">
<link rel="canonical" href="https://{% if language_code != "en" %}{{ language_code }}.{% endif %}wbsrch.com" />
<title>WbSrch Web {% trans "Search" %} ({{ language_code|language_name_local }}) | {% trans "The Independent Search Engine" %}</title>
{% include 'style.inc' %}
{% include 'analytics.inc' %}
<script src="/wbsrch.js" type="text/javascript"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=649581031815449";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="floatright"><a href="http://musicsrch.com" title="MusicSrch - The Music Search Engine">MusicSrch</a></div>
<div class="clear head">
<h1><img class="logo" src="/images/WbSrchLogo.png" alt="WbSrch Web {% trans "Search" %}" />&nbsp;WbSrch Web {% trans "Search" %}</h1>
<h2>{% trans "The Independent Search Engine" %}</h2>
</div>
<br/><br/>
<div class="centered">
<form method="get" action="/search/">
<input id="searchbox" type="text" name="q" maxlength="250" onkeyup="autocomp();" list="autocompleteOptions"/>
<datalist id="autocompleteOptions">
</datalist>
<input type="submit" value="{% trans "Search" %}">
</form>
<p>&nbsp;</p>
<br/>
<p><strong>{% trans "Most Recently Indexed Search Terms" %}:</strong></p>
<p>
{% for term in recent_terms %}<a href="/search/?q={{ term.keywords|urlencode }}">{{ term.keywords }}</a>&nbsp;{% if forloop.counter == 5 %}<br class="visible-small"/>{% endif %}{% endfor %}
</p>
<p>&nbsp;</p>
<br/>
<br/>
<p>{% trans "Check a Domain" %}:</p>
<form method="get" action="/domain/">
<input id="domainbox" type="text" name="q" maxlength="250" class="shortbox" />
<input type="submit" value="{% trans "Check Domain" %}">
</form>
</div>
<p>&nbsp;</p>
<!--<p class="centered">Try the <a href="http://wbbrowse.com">WbBrowse web browser</p>.</p>-->
<br/>
<div class="footer">
{% include 'footerwithoutcopyright.inc' %}
{% if language_code == 'en' %}
<div class="floatright">
<div class="fb-like" data-width="220px" data-href="https://www.facebook.com/WbSrch" data-layout="standard" data-action="like" data-show-faces="false" data-share="true" data-colorscheme="dark"></div>
</div>
<div class="floatleft">
<a href="https://twitter.com/WbSrchDotCom" class="twitter-follow-button" data-show-count="false">Follow @WbSrchDotCom</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<br class="clear"/>
{% endif %}
{% include 'copyright.inc' %}
</div>
</body>
</html>
