{% load i18n %}<!DOCTYPE html>
<html lang="{{ language_code }}"><head>
<!-- cached: {{ cached }} -->
<meta name="description" content="WbSrch Web {% trans "Search" %}, home of the Independent {% trans "Search" %} Engine.">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="/favicon.png" />
<title>{% if ip %}{{ ip }} | {% endif %} {% trans "IP" %} Details | WbSrch Web {% trans "Search" %} ({{ language_code|language_name_local }})</title>
{% ssi '/var/django/wbsrch/templates/style.inc' %}
{% ssi '/var/django/wbsrch/templates/analytics.inc' %}
</head>
<body>
<div class="head">
<h1><a href="/"><img class="logo" src="/images/WbSrchLogo.png" alt="WbSrch Web {% trans "Search" %}" /></a>&nbsp;WbSrch {% trans "IP Address" %} {% trans "Search" %}</h1>
</div>
<div class="body">
<p>{% trans "Check an IP Address" %}:</p>
<form method="get" action="/ip/">
<input id="domainbox" type="text" name="q" maxlength="250" {% if ip %}value="{{ ip }}"{% endif %} />
<input type="submit" value="{% trans "Check IP" %}">
</form>
<br />

{% if ip %}
<h2 class="left indented2 spacebelow">WbSrch {% trans "IP" %} {% trans "Info" %} {% trans "for" %} {{ ip }}:</h2>
{% ssi '/var/django/wbsrch/templates/adsense.inc' %}
{% if domains %}
<h3 class="indented spacebelow">Domains Found at This IP</h3>
{% for domain in domains %}
<p>{% trans "Domain" %}: <a href="/domain/?q={{ domain.url }}" rel="nofollow">{{ domain.url }}</a>
{% if domain.language_association %}{% trans "Language" %}: {{ domain.language_association }} ({{ domain.language_association|language_name_local }}){% endif %}
{% if domain.language_association and domain.language_association != language_code %}<a href="https://{{ domain.language_association }}.wbsrch.com/domain/?q={{ domain.url }}">Check this domain on the {{ domain.language_association|language_name }} site.</a>{% endif %}
<br/>
{% endfor %}
{% else %}
<p>{% trans "Our crawler has not found any domains at that IP address" %}.</p>
{% endif %}
<p>We have {{ num_siteinfos }} pages in our index that were retrieved from that IP.</p>
{% ssi '/var/django/wbsrch/templates/adsense.inc' %}
{% endif %}

<p><a href="/search/">{% trans "Go to web search form" %}.</a></p>
</div>
<div class="footer">
{% ssi '/var/django/wbsrch/templates/footer.inc' parsed %}
</div>
</body>
</html>

