<!DOCTYPE html>
<html><head>
<meta name="keywords" content="wbsrch, independent, web, directory, anti, social, search, engine" lang="en">
<meta name="description" content="WbSrch Web Search, home of the Independent Search Engine." lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="msvalidate.01" content="46D044C2A2181D7D0BFD6FF19630FDEC" />
<meta name="google-site-verification" content="w_FL4pcP2gbbcsZ5UqBWhMbPFX-HhEtNuyCgqqkJqc4" />
<meta name="wot-verification" content="02fc60ed7fb094538bca"/>
<link rel="stylesheet" href="/style.css" />
<link rel="icon" type="image/png" href="/favicon.png" />
<title>WbSrch Web Search | The Independent Search Engine</title>
</head>
<body>
<div class="head">
<p>&nbsp;</p>
<p><img class="logo" src="/images/WbSrchLogo.png" alt="WbSrch Web Search" /></p>
<h1>WbSrch Web Search</h1>
<h2>The site is down temporarily for maintenance. It should be available again soon.</h2>
</div>
</body>
</html>
