{% load i18n %}
<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
<!-- Cached Query: {{ cached }} -->
<meta name="keywords" content="{% trans "search engine" %}, web, {% trans "index" %}, {% trans "searches" %}, {% trans "popular searches" %}, {% trans "terms" %}, {% trans "directory" %}, {% trans "search" %}, {% trans "most popular" %}, {% trans "frequent" %}">
<meta name="description" content="WbSrch {% trans "Web Search" %}, home of {% trans "The Independent Search Engine" %}.">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="/favicon.png" />
<title>{% trans "Most Popular Searches" %} in {{ report.year }} - {{ report.month }} | WbSrch {% trans "Web Search" %}</title>
{% include 'style.inc' %}
{% include 'analytics.inc' %}
</head>
<body>
<div class="head"><h1><a href="/"><img class="logo" src="/images/WbSrchLogo.png" alt="WbSrch {% trans "Web Search" %}" /></a>&nbsp;WbSrch Web 
{% trans "Search" %} {% trans "Most Popular Searches" %} in {% trans month_name %} {{ report.year }}</h1></div>
<p class="centered">These are the most popular searches. We get a lot of bot and crawler traffic, so these results may not accurately reflect what real Humans search for on WbSrch.</p>
<p class="centered"><strong>{% trans "Total Searches in Month" %}</strong>: {{ report.total_searches }} <em>(as of {% now "Y-m-d" %})</em></p>
<table class="centered">
<tr><th class="left">{% trans "Search Phrase" %}</th><th class="right">{% trans "Number of Searches" %}</th></tr>
{% for search in report.top_searches %}
<tr><td class="left"><a href="/search/?q={{ search.keywords }}">{{ search.keywords }}</a></td><td class="right">{{ search.keywords__count }}</td></tr>
{% endfor %}
</table>
<p class="centered">{% trans "Other monthly results" %}:</p>
<p class="centered">
<a href="/popular-searches/">{% trans "Current Month" %}</a> 
{% for oth in others %}
<a href="/popular-searches/{{ oth.year }}/{{ oth.month }}/">{{ oth.year }} - {{ oth.month }}</a> 
{% endfor %}
</p>
<br /><p class="centered"><a href="/popular-searches/">{% trans "Back to search form" %}.</a></p>
{% include 'footerwithoutcopyright.inc' parsed %}
{% include 'copyright.inc' %}
</body>
</html>
